

<%= render "partials/navbar" %>


	<div class='row'>
		<div class='col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-offset-3'>

			<h1 class='font2 text-center'>Invite Friends</h1><br>

						<%= form_for :invite, :url => invites_create_path do |f| %>

						    <%= f.hidden_field :group_id, :value => params[:id] %>

						    <div class="form-group">
						    <%= f.email_field :email1, placeholder: 'Enter their e-mail address', class: "font3 form-control", required: true %>
						    </div>

						    <div class="form-group">
						    <%= f.email_field :email2, placeholder: 'And the next person', class: "font3 form-control" %>
						    </div>

						    <div class="form-group">
						    <%= f.email_field :email3, placeholder: 'One more', class: "font3 form-control" %>
						    </div>

						    <div class="form-group">
						    <%= f.email_field :email4, placeholder: 'And again', class: "font3 form-control" %>
						    </div>

						    <div class="form-group">
						    <%= f.email_field :email5, placeholder: 'Forgotten anyone?', class: "font3 form-control" %>
						    </div>

						    <%= f.submit 'Send', class: "font3 btn btn-default ghost-button" %>
						
						<% end %>




		</div>
	</div>


<%= render "partials/footer" %>
