
<%= render "partials/navbar" %>

<div class='container'>

	<h1 class='font2 darkGray'>Hello, <%= current_user.firstname %></h1>
	<hr class='highlight'>

	<div class='row'>
		<div class='col-sm-12 col-md-12 col-lg-12'>
			<div class='panel panel-default'>
				<div class='panel-heading'><h4 class='font3 darkGray'><strong>Your Newsfeed<span class='highlight'>:</span></strong></h4></div>
					<div class='panel-body'>

						<div class='col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1'>

 								<% @newsfeed_posts.each do | x | %>

									<div class='font2 darkGray'><strong><%= x.user.firstname %> : '<%= x.content %>'</strong></div>
									<div class='font3 midGray'><span class='highlight'>Event:</span> <%= x.group.title %>  <span class='pull-right'><%= time_ago_in_words(x.created_at) %> ago</span></div>
									<hr class='highlight'>
								<% end %>

						</div><br>

			        </div>
			</div>
		</div>		
	</div><br>


	<div class='row'>

		<div class='col-xs-12 col-sm-6 col-md-6'>
			<div class='list-group'>
				<div class='list-group-item disabled'><h4 class='font3 darkGray'><strong>Events you're Organizing<span class='highlight'>:</span></strong></h4></div>

						<% @group_owner_objects.each do | m | %>	
								<a href='/groups/<%= m.id %>' class='list-group-item'>
										<div class='font2 midGray'><strong><%= m.title %></strong>
										<p class='font3 lightGray pull-right'><i><%= m.date.strftime('%v') %></i></p></div>
								</a>
						<% end %>
			</div>
		</div>


		<div class='col-xs-12 col-sm-6 col-md-6'>
			<div class='list-group'>
				<div class='list-group-item disabled'><h4 class='font3 darkGray'><strong>Events you're Involved In<span class='highlight'>:</span></strong></h4></div>

						<% @groups_involved.each do | b | %>
								<a href='/groups/<%= b.id %>' class='list-group-item'>
										<div class='font2 midGray'><strong><%= b.title %></strong>
										<p class='font3 lightGray pull-right'><i><%= b.date.strftime('%v') %></i></p></div>
								</a>
						<% end %>
			</div>
		</div>


	</div>  <!-- row -->
</div>  <!-- container -->


<%= render "partials/footer" %>