

<%= render "partials/navbar" %>


  <div id="main-container" class="container">
    <div class="row">

      <div id="content" class="col-md-12">
        <div class="form-container">
        

            <h2 class="font2 midGray form-signin-heading text-center">Create a new Event Group</h2><br>
            <%= form_for @group, url: create_group_path do |f| %> 
            <div class="form-group">
              <%= f.text_field :title, placeholder: 'Name of Group', class: "font3 darkGray form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :description, placeholder: 'Description of the Event', class: "font3 form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.date_field :date, placeholder: 'Date of the Event', class: "font3 darkGray form-control", required: true %>
            </div>
			       
            <div class="form-group">
              <%= f.time_field :date, placeholder: 'Time of the Event', class: "font3 darkGray form-control", required: true %>
            </div>

            <div class="form-group">
              <%= f.number_field :target, placeholder: 'Target Gift Donation Amount', class: "font3 darkGray form-control", required: false %>
            </div>

              <%= f.hidden_field :user_id, :value => current_user.id %>
          
              <%= f.submit "Create the Group", class: "font2 btn btn-default ghost-button" %>
              <% end %>

              
             </div>
        </div>
      </div>
    </div>
</div>


<%= render "partials/footer" %>