

<%= render "partials/fullNavbar" %>


<div class='container'>

	<!-- GROUP INFORMATION -->
	<div class='subheader row'>
		<div class='col-sm-12 col-md-12 col-lg-12'>
			<h1 class='font1 darkGray text-center'><%= @group.title %></h1>
			<h3 class='font2 midGray text-center'><%= @group.description %></h3>

			<div class='row'>
				<div class='text-center col-xs-12 col-sm-4 col-md-4 col-lg-4'>
					<h4 class='font3 lightGray'><span class='highlight'>Event Date:</span> <%= @group.date.strftime('%v') %></h4>
				</div>
				<div class='text-center col-xs-12 col-sm-4 col-md-4 col-lg-4'>
					<h4 class='font3 lightGray'><span class='highlight'>Event Time:</span> <%= @group.time %></h4>
				</div>
				<div class='text-center col-xs-12 col-sm-4 col-md-4 col-lg-4'>
					<h4 class='font3 lightGray'><span class='highlight'>Group Creator:</span> <%= @founder.firstname %></h4>
				</div>
			</div>

		</div>
	</div>
	<hr class='highlight'>

	<div class='row'>
		<div class='col-sm-12 col-md-12 col-lg-12'>
			<div class='panel panel-default'>
				<div class='panel-heading'><h4 class='font1 darkGray'>Group Newsfeed<span class='highlight'>:</span></h4></div>
					<div class='panel-body'>

						<div class='col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1'>

								<% @group.posts.each do | x | %>
									
									<div>
										<div class='font2'><%= x.content %>
										<p class='font3 pull-right'><%= time_ago_in_words(x.created_at) %> ago by <%= x.user.firstname %></p></div>
									</div>

									<hr class='highlight'>
								<% end %>
						</div><br>

						<div class='col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1'>
					        <%= form_for @post , :url => posts_create_path do |f| %> 

					            <%= f.hidden_field :group_id, :value => params[:id] %>
					            <%= f.hidden_field :user_id, :value => current_user.id %>

								<div class="input-group">
									<%= f.text_field :content, placeholder: 'What would you like to say?', id: 'commentForm', class: "font2 form-control", required: true %>
								   	<span class="input-group-btn">
								        <%= f.submit "Post Comment!", id: 'postBtn', class: "font2 btn btn-default ghost-button pull-right" %>
								   	</span>
								</div>

			              	<% end %>
			            </div>

			        </div>
			</div>
		</div>		
	</div><br>



	<div class='row'>

		<!-- MEMBERS LIST -->
		<div class='col-sm-12 col-md-6 col-lg-6'>
			<div class='panel panel-default'>
				<div class='panel-heading'><h4 class='font1 darkGray'>Member Count<span class='highlight'>:</span> <%= @members.count %></h4></div>

					<ul>
						<% @group.memberships.each do | a | %>
							<li class='font2 midGray'><%= a.firstname %> <%= a.surname %></li>
						<% end %>
					</ul>	

			</div>
		</div>


		<!-- GIFT IDEAS -->
		<div class='col-sm-12 col-md-6 col-lg-6'>
				<div class='panel panel-default'>
					<div class='panel-heading'><h4 class='font1 darkGray'>Gift Ideas<span class='highlight'>:</span></h4></div>

						<% @group.gifts.each do |a| %>
							<div class='panel-body'>
								<div class='row'>
									<div id='giftImgContainer' class='col-xs-4 col-sm-4 col-md-3'>
										<div id='giftImgDiv'><%= image_tag a.avatar.url(:thumb) %></div>
									</div>
									<div class='col-xs-8 col-sm-8 col-md-9'>
										<h4 class='font1'><a href='/groups/<%= @group.id %>/gifts/<%= a.id %>'><%= a.title %></a></h4>
										<h5 class='font2'><%= a.description %></h5>
<!-- 										<a href='<%= a.URL %>' class='font3'>Find out More!</a> -->
										<hr class='highlight'>

										<div class='row'>
											<div class='col-xs-7 col-sm-6 col-md-7'>
												<p class='font2'><strong>Gift Price<span class='highlight'>:</span></strong> <%= a.price %></p>
												<p class='font2'><strong>No. of Votes<span class='highlight'>:</span></strong> <%= a.votes.count %></p>
											</div>
											<% if @user_votes.exclude? (a.id) %>
												<div class='col-xs-5 col-sm-6 col-md-5'>				
													<%= button_to 'Up Vote!', votes_create_path(:vote => { :gift_id => a.id, :user_id => current_user.id}), class: "font3 pageBtn btn btn-default", :method => :post %>
												</div>
											<% end %>
										</div>

									</div>
								</div> <!-- Row -->
							</div>
					<% end %>

		</div>

	</div><!-- Row -->
</div><!-- Container -->	


<%= render "partials/footer" %> 
