<%= render "partials/navbar" %>


	<div class='row'>
		<div class='col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-offset-3'>

			<h1 class='font2 text-center'>Gift Search</h1><br>

						<%= form_for :gift, :url => gifts_search_path do |f| %>

						    <div class="form-group">
						    <%= f.text_field :searchItem, placeholder: 'Lets Find the Perfect Gift', class: "font3 form-control", required: true %>
						    </div>

						    <%= f.submit 'Search', class: "font3 btn btn-default ghost-button" %>
						
						<% end %>

		</div>
	</div>

<br><br><br>


<%= @hashed_roducts %>


<% if @products != nil %>
  <% @products.each do |product| %>
    <div class="product">

    	<%= product %>

      <%#= link_to image_tag(product.image_url), product.url %>
      <%#= link_to product.name, product.url %>
    </div>
  <% end %>
<% end %>



<%= render "partials/footer" %>