<%= render "partials/navbar" %>


	<div class='row'>
		<div class='col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-offset-3'>


			<!-- AMAZON API ALSO ALLOWS TO SET MAXIMUM PRICE IN REQUEST -->

			<h1 class='font2 text-center'>Gift Search</h1><br>

						<%= form_for :gift, :url => gifts_search_path do |f| %>

						    <div class="form-group">
						    <%= f.text_field :searchItem, placeholder: 'Lets Find the Perfect Gift', class: "font3 form-control", required: true %>
						    </div>

						    <%= f.submit 'Search', class: "font3 btn btn-default ghost-button" %>
						
						<% end %>

		</div>
	</div>

<br><br><br>


<%= @hashed_products %>


<% if @products != nil %>
  <% @products.each do |product| %>
    <div class="product">

    	<h3><%= product.Title %></h3>
    	<p>Feature: <%= product.Feature %></p>
    	<p>ASIN: <%= product.ASIN %></p>    	
    	<p>URL: <%= product.URL %></p>
    	<!-- <p>Purchase URL: <%#= product.purchaseURL %></p> -->
       	<p>Price: <%= product.Price %></p>
    	<%= image_tag product.image %>

    	<%= button_to 'Save Gift', gifts_create_path(:gift => { :controller => "gift", :action => "create", :group_id => params[:id], :user_id => current_user.id, :avatar => product.image, :URL => product.url, :product => product.name, :description => product.description }), class: "font3 pageBtn btn btn-default", :method => :post  %>
    	<br><br>


    </div>
  <% end %>
<% end %>



<%= render "partials/footer" %>