
<%= render "partials/navbar" %>

<ol class="font2 lightGray breadcrumb">
	  <li></li>
	  <li><a href="/dashboard">Profile Page</a></li>	  
	  <li><a href="/groups/<%= @group.id %>"><%= @group.title %></a></li>
</ol>

<div class='container'>
	

		<h2 class='font2 midGray'>Thanks, <%= current_user.firstname %>, you donated <span class='highlight'>£10.00</span> to a gift for <%= @group.title %></h2>


</div>
